*{
    margin: 0;
    padding: 0;
}

body{
    background: #293040;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
    font-family: 'Poppins';
}

@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'PoppinsB';
    src: url('@/assets/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'PoppinsM';
    src: url('@/assets/fonts/Poppins-Medium.ttf');
}

.titleGradient{
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: #C9AD8B var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(201 173 139 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #646D88 var(--tw-gradient-to-position);
    display: inline-block;
    color: transparent;
    background-clip: text;
    font-size: 30px;
    margin-bottom: 6rem;
    font-family: PoppinsB;
}

.cardStyle{
    --tw-shadow: 12px 17px 17px -7px #252525;
    --tw-shadow-colored: 12px 17px 17px -7px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-bg-opacity: 1;
    background-color: rgb(89 96 116 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(29 33 44 / var(--tw-border-opacity));
    border-radius: 0.5rem;
    padding-top: 1.5rem/* 24px */;
    padding-bottom: 1.5rem/* 24px */;
    padding-left: 1.5rem/* 24px */;
    padding-right: 1.5rem/* 24px */;
    border-width: 1px;
}